<h1>Posts</h1>

<% if current_user %>
  <%= button_to 'New Post', new_post_path, method: :get, class: 'btn btn-primary' %>
<% end %>

<hr>

<%= render(partial: @posts, spacer_template: 'posts/post_spacer') || "No posts yet." %>

<hr/>
<%= paginate @posts %>
